<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table cellspacing="0" cellpadding="0" width="252" border="0">
  <tr> 
    <td width="12"><img src="/aspenos/images/corner_tl.gif" width="12" height="12"></td>
    <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
    <td width="12"><img src="/aspenos/images/corner_tr.gif" width="12" height="12"></td>
  </tr>
  <tr> 
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
    <td>&nbsp;</td>
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
  </tr>
  <tr> 
    <td><img src="/aspenos/images/corner_bl.gif" width="12" height="12"></td>
    <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
    <td><img src="/aspenos/images/corner_br.gif" width="12" height="12"></td>
  </tr>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0" width="252" border="0">
  <tr> 
    <td width="12">&nbsp;</td>
    <td width="12">&nbsp;</td>
    <td height="5">&nbsp;</td>
    <td width="12">&nbsp;</td>
    <td width="12">&nbsp;</td>
  </tr>
  <tr> 
    <td width="12"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
    <td width="12"><img src="/aspenos/images/corner_tl.gif" width="12" height="12"></td>
    <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
    <td width="12"><img src="/aspenos/images/corner_tr.gif" width="12" height="12"></td>
    <td width="12"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
    <td>&nbsp;</td>
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
    <td><img src="/aspenos/images/corner_bl.gif" width="12" height="12"></td>
    <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
    <td><img src="/aspenos/images/corner_br.gif" width="12" height="12"></td>
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td height="5">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
Use this one for bordered areas:<br>
<table bgcolor=#bbbbbb border=0 cellpadding=1 cellspacing=0 width="200">
  <tbody> 
  <tr> 
    <td> 
      <div align="center"> </div>
    </td>
  </tr>
  </tbody> 
</table>
<p>&nbsp;</p>
<table bgcolor=#BBBBBB border=0 cellpadding=1 cellspacing=0 width="200">
  <tbody> 
  <tr> 
    <td> 
      <div align="center">
        <table cellspacing="0" cellpadding="0" width="252" border="0" bgcolor="#EBEBEB">
          <tr> 
            <td width="12">&nbsp;</td>
            <td width="12">&nbsp;</td>
            <td height="5">&nbsp;</td>
            <td width="12">&nbsp;</td>
            <td width="12">&nbsp;</td>
          </tr>
          <tr> 
            <td width="12"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
            <td width="12"><img src="/aspenos/images/corner_tl.gif" width="12" height="12"></td>
            <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
            <td width="12"><img src="/aspenos/images/corner_tr.gif" width="12" height="12"></td>
            <td width="12"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
            <td>&nbsp;</td>
            <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
            <td><img src="/aspenos/images/corner_bl.gif" width="12" height="12"></td>
            <td bgcolor="#000000" height="5"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="5"></font></td>
            <td><img src="/aspenos/images/corner_br.gif" width="12" height="12"></td>
            <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="8"></font></td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td height="5">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  </tbody> 
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="0" width="252" border="0" height="138">
  <tr> 
    <td>&nbsp;</td>
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td height="20"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="2"></font></td>
    <td height="20"><img src="/aspenos/images/corner_tl.gif" width="3" height="2"></td>
    <td bgcolor="#000000" height="20"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="2"></font></td>
    <td height="20"><img src="/aspenos/images/corner_tr.gif" width="3" height="2"></td>
    <td height="20"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="2"></font></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
    <td bgcolor="#000000"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td height="33"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="2"></font></td>
    <td height="33"><img src="/aspenos/images/corner_bl.gif" width="3" height="2"></td>
    <td bgcolor="#000000" height="33"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="45" height="2"></font></td>
    <td height="33"><img src="/aspenos/images/corner_br.gif" width="3" height="2"></td>
    <td height="33"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="11" height="2"></font></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
    <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><img src="/aspenos/images/dot_clear.gif" width="3" height="8"></font></td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td><img src="/aspenos/images/corner_tl.gif" width="4" height="4"></td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="45" height="4"></td>
    <td><img src="/aspenos/images/corner_tr.gif" width="4" height="4"></td>
  </tr>
  <tr> 
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="4" height="4"></td>
    <td>&nbsp;</td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="4" height="4"></td>
  </tr>
  <tr> 
    <td><img src="/aspenos/images/corner_bl.gif" width="4" height="4"></td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="45" height="4"></td>
    <td><img src="/aspenos/images/corner_br.gif" width="4" height="4"></td>
  </tr>
</table>
<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td><img src="/aspenos/images/corner_tl.gif" width="6" height="6"></td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="45" height="6"></td>
    <td><img src="/aspenos/images/corner_tr.gif" width="6" height="6"></td>
  </tr>
  <tr> 
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="6" height="6"></td>
    <td>&nbsp;</td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="6" height="6"></td>
  </tr>
  <tr> 
    <td><img src="/aspenos/images/corner_bl.gif" width="6" height="6"></td>
    <td bgcolor="#000000"><img src="/aspenos/images/dot_clear.gif" width="45" height="6"></td>
    <td><img src="/aspenos/images/corner_br.gif" width="6" height="6"></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
