
<body bgcolor="#FFFFFF">
<form method="post" action="" name="">
  <table width="350" border="0">
    <tr>
      <td width="8">&nbsp;</td>
      <td> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#3399FF">Installed 
          applications are shown to the right.<br>
          Applications are organized by vendor.</font></p>
        </td>
    </tr>
  </table>
  <br>
  <table border="0" cellspacing="0" cellpadding="0" width="640">

    <tr> 
      <td rowspan="4" width="8">&nbsp;&nbsp;</td>
      <td rowspan="3" valign="top" width="235"><br>
        <p><font face="Arial, Helvetica, sans-serif" size="2"><b>To install a 
          new application</b> from a vendor that already appears on the right, 
          click the &quot;Install new app&quot; button for that vendor. Or to 
          install the first application from a new vendor, click the &quot;New 
          vendor install&quot; button below.</font> </p>
        <p align="center"> 
          <input type="submit" name="btn_install2" value="New vendor install">
        </p>
        <p align="left">&nbsp;</p>
        <p align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>To 
          configure or uninstall</b> an application, click on the application's 
          radio button to its left, then click either the &quot;Configure&quot; 
          or &quot;Uninstall&quot; button.</font></p>
        <p align="left">&nbsp;</p>
        <p align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b>To 
          get more </b>applications from all known AspenOS vendors, click the 
          &quot;Get more apps&quot; button below.</font></p>
        <p align="center"> 
          <input type="submit" name="btn_getmoreapps2" value=" Get more apps">
        </p>
        <p>&nbsp;</p>
      </td>
      <td width="12" height="528">&nbsp;&nbsp;&nbsp;</td>
      <td valign="top" width="708" height="528"> 
        <div align="center"> 
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
            <tr height="25" bgcolor="#000000"> 
              <td bgcolor="#000000" height="35" align="left" colspan="2"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF"><b>&nbsp;&nbsp;<font color="#FFFFFF"><b><font face="Arial, Helvetica, sans-serif" size="3">AspenOS</font></b></font></b></font></td>
            </tr>
            <tr height="25"> 
              <td bgcolor="#003333" height="25"> 
                <div align="center"><font size="2" color="#CCFFCC"><b><font face="Arial, Helvetica, sans-serif">Select</font></b></font></div>
              </td>
              <td bgcolor="#003333" height="25"><font size="3" color="#CCFFCC"><b><font face="Arial, Helvetica, sans-serif" size="2">&nbsp; 
                Application</font></b></font><font face="Arial, Helvetica, sans-serif" size="2" color="#CCFFCC"><b> 
                </b></font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"></div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_aspenos" value="radiobutton">
                </div>
              </td>
              <td> 
                <p><font face="Arial, Helvetica, sans-serif">Aspen Console</font></p>
              </td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_aspenos" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Aspen Content Server</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_aspenos" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Aspen Mail Service</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_aspenos" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Aspen Store</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"></div>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tr> 
              <td bgcolor="#003333" colspan="2" height="45"> 
                <div align="center"> 
                  <input type="submit" name="btn_conf_aspenos2" value="Configure">
                  &nbsp;&nbsp;&nbsp; 
                  <input type="submit" name="btn_uninstall_aspenos2" value="Uninstall">
                  &nbsp;&nbsp;&nbsp; 
                  <input type="submit" name="btn_install_aspenos2" value="Install a new app">
                </div>
              </td>
            </tr>
            <tr bgcolor="#003333"> 
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr height="35" bgcolor="#000000"> 
              <td align="left" height="35" colspan="2">&nbsp;&nbsp;<font color="#FFFFFF"><b><font face="Arial, Helvetica, sans-serif" size="3">HLDesign</font></b></font></td>
            </tr>
            <tr height="25"> 
              <td bgcolor="#003333"> 
                <div align="center"><font size="2" color="#CCFFCC"><b><font face="Arial, Helvetica, sans-serif">Select</font></b></font></div>
              </td>
              <td bgcolor="#003333" height="25"><font size="3" color="#CCFFCC"><b><font face="Arial, Helvetica, sans-serif" size="2">&nbsp; 
                Application</font></b></font><font face="Arial, Helvetica, sans-serif" size="2" color="#CCFFCC"><b> 
                </b></font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"></div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">&nbsp;</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_hldesign" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Internal Records</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_hldesign" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">DB Access</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_hldesign" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Alert Agent</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_hldesign" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Rank Search</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"> 
                  <input type="radio" name="rb_hldesign" value="radiobutton">
                </div>
              </td>
              <td><font face="Arial, Helvetica, sans-serif">Email of the Day</font></td>
            </tr>
            <tr bgcolor="#FFFFFF"> 
              <td> 
                <div align="center"></div>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tr> 
              <td bgcolor="#003333" colspan="2" height="45"> 
                <div align="center"> 
                  <input type="submit" name="btn_conf_hldesign2" value="Configure">
                  &nbsp;&nbsp; 
                  <input type="submit" name="btn_uninstall_hldesign2" value="Uninstall">
                  &nbsp;&nbsp; 
                  <input type="submit" name="btn_install_hldesign2" value="Install a new app">
                </div>
              </td>
            </tr>
            <tr bgcolor="#000000"> 
              <td colspan="2">&nbsp;</td>
            </tr>
          </table>
        </div>
      </td>
      <td width="13" height="528">&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr> 
      <td width="12"></td>
      <td width="708"></td>
      <td width="13"></td>
    </tr>
    <tr> 
      <td width="12">&nbsp;</td>
      <td width="708">&nbsp;</td>
      <td width="13">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="3">&nbsp;</td>
      <td width="13">&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
