
 [tag:choose_event_content]

<input type="hidden" name="app_id" value="[tag:app_id]">
<input type="hidden" name="app_display_name" value="[tag:app_display_name]">
<input type="hidden" name="reggrp_key" value="[tag:reggrp_key]">
<input type="hidden" name="reggrp_name" value="[tag:reggrp_name]">

</form>
