
<p>&nbsp;</p>
<p><font face="Arial, Helvetica, sans-serif" size="3">Your requested file has 
  been prepared. </font></p>
<blockquote> 
  <p><font face="Arial, Helvetica, sans-serif" size="3"><a href="[tag:file_link]">DOWNLOAD 
    NOW</a></font></p>
</blockquote>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
