
  <p><font face="Arial, Helvetica, sans-serif" size="3">Templates for application <i><font color="#3399FF"><b>[tag:app_display_name]</b></font></i><font color="#3399FF"> 
    </font></font></p>
  <p><font color="#3399FF" face="Arial, Helvetica, sans-serif" size="2">Choose 
    a template from the list, then click the <i>edit</i> or <i>remove</i> button.<br>
    To add a new template, click the <i>add</i> button.</font></p>
  <p><font face="Arial, Helvetica, sans-serif" size="2">[tag:main_list]</font></p>

