
<p><br>
  <FONT face="sans-serif" size="2"><b>The requested action was successful.</b> 
  <br>
  <BR>
  <FONT color="#FF0000"> <font color="#3333FF">[tag:success_msg] <br>
  </font><br>
  <br>
  <br>
  </FONT></FONT></p>
<p><a href="http://www.aspenos.com"><img src="/aspenos/images/aos_260x150.gif" width="260" height="150" border="0"></a></p>
