
<!--------------------------- head_top -->
<html>
<head>


<title>Title is 'IR - DB Access Index'</title>
<!--------------------------- head_bot -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>


<!--------------------------- body_top -->
<body bgcolor="#FFFFFF">




<!----------------------- content_header_top -->
<table width="640" border="1" height="129">
  <tr> 
    <td rowspan="2" width="138"> 


	
<!--------------------------- main_logo -->
      <table width="100%" border="0">
        <tr> 
          <td colspan="3" height="79"> 
            <div align="center">main logo img</div>
          </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>



	
<!--------------------------- section_header_top -->
    </td>
    <td width="20" height="58" rowspan="2">25<br>
      pix<br>
      spc </td>



		
<!--------------------------- section_logo -->
    <td width="190" height="58"> 
      <div align="center">section logo img</div>
    </td>


		
<!--------------------------- section_header_title_top -->
<td width="274" height="58"> 
<div align="left">


DB Access - Index
<!--------------------------- section_header_title_bot -->
</div>
</td>
</tr>



	
<!--------------------------- section_header_bot -->
<p>&nbsp;</p>



	
<!------------------------------ linkset_top -->
<tr>
<td colspan="2">


      [tag:LINKSET.db_access-index]
    
<!------------------------------ linkset_bot -->
</td>
</tr>



<!---------------------- content_header_bot -->
</table>





<!--------------------------- content_feature_top -->
<table width="640" border="1">
  <tr> 
    <td width="161" rowspan="3"> 
      <div align="center">


	    [tag:SECTION_CHANNEL]
    
<!--------------------------- content_feature_mid -->
      </div>
    </td>
    <td width="469"> 
      <div align="left">spacer row</div>
      </td>
  </tr>


<!------------------------------ linkset_top -->
<tr>
<td colspan="2">


      [tag:LINKSET.backup-logs]
    
<!------------------------------ linkset_bot -->
</td>
</tr>


<!--------------------------- content_feature_bot -->
  <tr> 
    <td width="469" height="146"> 
[tag:FEATURE]
    </td>
  </tr>
</table>



<table width="640" border="1" height="56">
<tr>
<td width="163" height="48"> 
	    [tag:CONTENT_CHANNEL]
    </td><td width="296" height="48">
<div align="center">
          [tag:LINKSET.footer]
      </div>
</td><td width="167" height="48">
<!--------------------------- quicklinks -->

      <div align="right">
	    <select name="quickLinks">
			<option>[tag:QUICKLINKS]</option>
		</select>
	  </div>


</td>
</tr>
<tr>
<td width="163">
<div align="center">
	   copyright © 2000 HLDesign.com</div>
</td><td width="296">&nbsp;</td><td width="167">
<!--------------------------- logo_image -->
      <div align="center">some logo img</div>

</td>
</tr>
</table>


<!-- ------------------------ body_bot -->
</body>
</html>


